<!-- Default home page -->
<div class="default-page">

    <div>
        <%
            // sails.log.debug("session: " + util.inspect(req.session));
            sails.log.debug(req.user);
            // sails.log.debug(req.session.passport );

            // sails.log.debug(req.session.passport.user);
            // var u = res.req.flash('user');
            // sails.log.debug("ejs res.req.flash(\"user\"): " + util.inspect(u));
            // sails.log.debug("ejs username: " + u[0].username);
            // sails.log.debug("ejs email: " + u[0].email);
        %>

        <% if (req.session.passport && req.session.passport.user) {%>
        <span><%=req.user.username%></span>
        <a href="/project/new" > 注册项目 </a>
        <h3>
        <a href="/logout" > 登出 </a>
        <%} else {%>
        <h3>
        <a href="/login" > 登录 </a>
        <%}%>
          <a href="/user/register" > 注册 </a>
        </h3>
        <h3>
            <a href="/project/new" > project/new </a>
        </h3>
    </div>
 
</div>
