<!-- views/setting.ejs -->
<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> 增加一个member</h1>
	<!-- show any messages that come back with authentication -->
	<!-- LOGIN FORM -->
	<form id="formMemberGroup" action="/api/projects/<%= req.param('id') %>/members" method="post" >
		<div >
			<label>user</label>
			<input type="text" name="user">
		</div>
<!-- 		<div >
			<label>project</label>
			<input type="text"  name="project">
		</div> -->
		<div >
			<select name="access" form="formMemberGroup">
			  <option value="admin">admin</option>
			  <option value="user">collaborator</option>
			  <option value="guest">guest</option>
			</select>
		</div>
		<button type="submit" >提交</button>
	</form>
</body>
</html>
