<!-- views/setting.ejs -->
<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> 注册一个项目</h1>
	<!-- show any messages that come back with authentication -->
	<!-- LOGIN FORM -->
	<form action="/api/projects" method="post" >
		<div >
			<label>default</label>
			<input type="text" name="default_link">
		</div>
		<div >
			<label>wechat</label>
			<input type="text"  name="wechat_link">
		</div>
		<div >
			<label>ios</label>
			<input type="text" name="ios_link">
		</div>
		<div >
			<label>android</label>
			<input type="text" name="android_link">
		</div>
		<div >
			<label>项目名称</label>
			<input type="text" name="project_name">
		</div>
		<button type="submit" >提交</button>
	</form>
	<a href="/profile" >个人主页</a>
</body>
</html>
