  
<!-- Default home page -->
<div class="default-page">

    <div>
        <% if (req.session.passport && req.session.passport.user) {%>
        <span><%=req.user%></span>

        <h3>
        <a href="/logout" > 登出 </a>
        <%} else {%>
        <h3>
        <a href="/login" > 登录 </a>
        <%}%>
          <a href="/register" > 注册 </a>
        </h3>
    </div>
 
</div>

