<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> 登录</h1>
	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<!-- LOGIN FORM -->
	<form action="/login" method="post">
		<div>
			<label>邮箱</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div >
			<label>密码</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">登录</button>
	</form>
	<p>需要注册? <a href="/signup">注册</a></p>
	<p>或者去 <a href="/">主页</a>.</p>
</body>
</html>
